doctype html
html
  head
    title = title
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/unlock.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      header
        img(src='images/logo.png')
      section.main
        .switch
          input(type='checkbox')
          label
            i.icon-off
